body {
    font-family: Arial sans-serif;
    text-align: center;
    padding: 250px 0;
    border: 3px solid black;
    border-radius: 20px;
   
}   
h1 {
    color: #100;
    font-weight: 900;
}
form { 
    margin-top: 20px;
}
label input {
    margin-right: 10px;
}
table {
    border-collapse: collapse;
    margin: 20px auto;
}
table, th, td {
    border: 1px solid #333;
}
th, td {
    text-align: center;
}